* {
	text-align: center;
}
body {
	max-width:1200px;
	display:flex;
	flex-direction:column;
}
.heading {
	font-family: Arial;
	margin-top:10vh;
}
img {
	margin-top:10vh;
	max-width:352px;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:0;
	margin-bottom:0;
}
.URL-input, .convert-button {
	font-size:1.3em;
	padding:5px 10px;
}
.wrapper {
	display:flex;
	justify-content:center;
}
.URL-input {
	border-radius:4px 0px 0px 4px;
	width:30em;
	text-align: left;
	border:2px solid #EEEEEE;
	background: #EEEEEE;
	outline:none;
}

.URL-input:focus {
	border:2px solid #0485ff;
}

.convert-button {
	border-radius:0px 4px 4px 0px;
	border:2px solid #0485ff;
	background: #0485ff;
	color:white;
}
@media all and (max-width: 600px)  {
	body
	{font-size:0.8 em;
	}
	img {
		max-width:281px;
		max-height:171px;
		
	}
	.URL-input {
	width:99vw;
	
}
}
	@media all and (max-width: 300px)  {
		body
		{font-size:0.6 em;
		}
		img {
		max-width:234px;
		max-height:142px;
			
		}
	.URL-input {
	width:99vw;
	
}



}
