<img src="/images/vin.anj.pic.jpg" >
    <h1 class="heading">Anjitha's YouTube Downloader App!</h1>
    <div class="wrapper" ><input class="URL-input" placeholder="https://www.youtube.com/watch?v=MtN1YnoL46Q"><button class="convert-button">Convert</button></div>
    <script src='/js/script.js'></script>